# Use root/example as user/password credentials
version: '3.1'

services:
  db:
    container_name: sqldb
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password
    volumes: 
            - /srv/docker/mysql/smc-app:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: example
    ports:
      - 8089:3306

  adminer:
    image: adminer
    ports:
      - 8088:8080